.category-container {
  background-color: rgb(68, 51, 68);
  height: 100vw;
  width: 100vw;
}

.category-heading {
  display: inline-block;
  height: 10%;
  margin: 5%;
  padding: 4%;
  width: 13%;
}

.description-wrapper {
  background-color: yellow;
  height: 38%;
  margin-left: 10%;
  margin-top: 2%;
  width: 53%;
}
.display-list-box {
  height: 30%;
  margin-top: 10%;
  padding-bottom: 2px;
}

.heading-text {
  padding: 20%;
}
.list-container {
  height: 30%;
  margin-left: 4.5%;
  width: 22%;
}

.list-wrapper {
  display: flex;
  height: 50%;
  width: 100%;
}

.list-text {
  padding: 5%;
  text-align: center;
}
.refresh-button {
  height: 5%;
  position: absolute;
  width: 15%;
}
